@font-face {
	font-family: "Agrandir";
	src: url("../fonts/PPAgrandir-TightRegular.eot");
	src: url("../fonts/PPAgrandir-TightRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandir-TightRegular.woff2") format("woff2"), url("../fonts/PPAgrandir-TightRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Agrandir";
	src: url("../fonts/PPAgrandir-TightItalic.eot");
	src: url("../fonts/PPAgrandir-TightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandir-TightItalic.woff2") format("woff2"), url("../fonts/PPAgrandir-TightItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Agrandir";
	src: url("../fonts/PPAgrandir-TightBoldItalic.eot");
	src: url("../fonts/PPAgrandir-TightBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandir-TightBoldItalic.woff2") format("woff2"), url("../fonts/PPAgrandir-TightBoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Agrandir";
	src: url("../fonts/PPAgrandir-TightBold.eot");
	src: url("../fonts/PPAgrandir-TightBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandir-TightBold.woff2") format("woff2"), url("../fonts/PPAgrandir-TightBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "CenturySchoolSB";
	src: url("../fonts/CenturySchoolSBBoldIta/font.woff2") format("woff2"), url("../fonts/CenturySchoolSBBoldIta/font.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "CenturySchoolSB";
	src: url("../fonts/CenturySchoolSBRoman/font.woff2") format("woff2"), url("../fonts/CenturySchoolSBRoman/font.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CenturySchoolSB";
	src: url("../fonts/CenturySchoolSBIta/font.woff2") format("woff2"), url("../fonts/CenturySchoolSBIta/font.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "CenturySchoolSB";
	src: url("../fonts/CenturySchoolSBBold/font.woff2") format("woff2"), url("../fonts/CenturySchoolSBBold/font.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
